/*Common sheard styles*/
body{
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 300 to 800
    
    .open-sans-<uniquifier> {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
    }
}

.btn-primary{
    border-radius: 1PX;
    background-color: #FD6E0A;
    padding: 3px 5px;
    border:1px solid white;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue

    ;

}
.text-primary{
    color: #FD6E0A;
}
/* nav style*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    
    

}
.Titel{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #575656;
    text-align: center;
}
.header{
    background-color:rgb(245, 248, 243);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.baner{
    padding: 150px 30px 020px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.baner .profile{
    width: 300px;}

.baner-contain{
    display:block;
    max-width: 500px;
}
.baner-greating{
    font-size: 40px;
    color: #1e1e1e;
    margin-bottom: 0px;

}
.baner-titel{
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-top: 5px; 
}
.text{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
    color: #181818;
}
/* main section */
    .section-titel{
        color: #181818;
        text-align: center;
        font-weight: 700;
        font-size:20px ;

    }
    .section-details{
        color: #757575;
        text-align: center;
        font-size: 17px;

    }


/* about section style*/
.about{
    padding: 100px;
    border-radius: 10px;
    background:#FFF8F3 ;
    
}
section.about {
    margin-left: 60px;
    margin-right: 60px;
    padding: 45px;
    align-items: center;
    max-width: 1150px;
    background:#FFF8F3;
    border-radius: 10px;
    margin-top: 100px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
    
}
.about-info{
    text-align: center;
}
.info-titele{
    color: #757575;
    font-size: 14px;
    font-weight:500;
    margin-bottom: 0px;
}
.info-description{
    color: #181818;
    font-size: 18px;
    font-weight: 700;
    margin-top: -2px;
}